 :root {
    --titleSectionPrimaryColor: grey;
	--titkeSectionSecondaryColor: rgb(198, 207, 209)
 }
 #title {
    color: var(--titleSectionPrimaryColor);
    text-align: center;
    padding-top: 200px;
    background-image: url('../images/milin-john-Z7ebcHNkwXU-unsplash.jpg');
    background-position: center top;
}
.title-section-header {
    margin-bottom: -5px;
}
.title-section-subtitle {
    margin-bottom: 40px;
}
.title-section-button {
    color: var(--titleSectionPrimaryColor);
	border: solid var(--titleSectionPrimaryColor);
	border-radius: 5px;
    padding: 15px 20px;
	background-color: transparent; 
}
.title-section-button:hover {
        background-color: var(--titkeSectionSecondaryColor);
        cursor: pointer;
    }