#craps-game {
    background-image: url('../images/vegas.jpg');
   background-position: cover;
    color: white;

}

.craps-game-title {
    text-align: center;
    margin-top: 100px;
}

.craps-game-container {
    width: min(700px, 80vw);
    height: min(500px, 57vw);
    border: solid white 2px;
    margin: 100px auto 0 auto;
    background-image: url('../images/crapsgametable.jpg');
    background-size: cover;
    background-position: center top;

}

#craps-registration-pane {
    margin-top: 55px;
    text-align: center;
}

.craps-registration-input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    margin-top: 25px;
    color: red;
    text-align: center;
}
.craps-registration-input:focus {
    outline-width: 0;
}

.craps-registration-continue {
    margin-top: 25px;
}
.craps-registration-continue:hover {
    cursor: pointer;
    font-weight: bold;
}

#craps-main-section {
    display: none;
}